@using Xaviasale.Controllers
@using Xaviasale.ClassHelper
@inherits UmbracoViewPage<Xaviasale.Models.CartViewModel>
@{
    var home = Umbraco.AssignedContentItem.Root();
    var checkOut = Umbraco.AssignedContentItem.Root().FirstChildOfType("checkOut");
}
@if (Model.CartModels.Count > 0)
{
    <div id="cart" class="cart-section mt12" data-id="cart_page">
        <div class="cart container">
            @if (TempData["UpdateCartStatus"] != null)
            {
                <section class="mb24" type="cart-alert">
                    <div class="upsell">
                        <div class="upsell-py10 upsell-px16 upsell-cart-alert">
                            @TempData["UpdateCartStatus"]
                        </div>
                    </div>
                </section>
            }
            <h1 class="h4 cart__heading mb24">Cart</h1>

            @using (Html.BeginUmbracoForm<CartController>("UpdateCart", FormMethod.Post, new { @class = "form", id = "requestForm" }))
            {
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <button type="submit" class="flex btn btn-primary mb16 has-text-weight-bold">Cập nhật giỏ hàng</button>
                        <div class="product-cart-wrapper mb24">
                            @foreach (var item in Model.CartModels)
                            {
                                <div class="product-cart mb16 flex flex-wrap align-start">
                                    <input type="hidden" class="input-productId" value="@item.ProductId"/>
                                    <input type="hidden" class="input-color" value="@item.Color"/>
                                    <div class="product-cart__image mr12 flex align-start justify-center relative">
                                        <a href="@item.ProductUrl" class="aspect-ratio w-100 h-100">
                                            <img src="@item.ThumbnailPath" alt="@item.ProductName" class="image sb-lazy image-wrap w-100 h-100 shape-sharp-t-l-b-r" data-loaded="true">
                                        </a>
                                    </div>
                                    <div class="product-cart__details flex flex-wrap">
                                        <div class="info-wrapper w-100">
                                            <p class="product-cart__name mb4">
                                                <a href="@item.ProductUrl" class="">@item.ProductName</a>
                                            </p>
                                            <p class="h6 product-cart__price mb12">
                                                <span>$@item.ProductPrice</span>
                                                @if (item.ProductOldPrice > 0)
                                                {
                                                    <span class="product-cart__price--original">$@item.ProductOldPrice</span>
                                                }
                                            </p>
                                            <div class="mb12">
                                                <p class="product-cart__options subtle mb4">@item.Color</p>
                                            </div>
                                        </div>
                                        <div class="product-cart__action w-100 flex align-end">
                                            <div class="product-cart__quantity flex flow-column flex-wrap">
                                                <label class="subtle quantity-label hidden-xs mb12">Quantity</label>
                                                <div class="button-quantity flex">
                                                    <div class="button-quantity__layout-vertical flex shape-sharp-t-l-b-r">
                                                        <div class="button-quantity decrease button-quantity__layout-vertical__decrease flex align-center justify-center" disabled="false"><i class="minus"></i></div>
                                                        <input type="number" class="input-quantity" value="@item.Quantity" min="1" max="Infinity">
                                                        <div class="button-quantity increase button-quantity__layout-vertical__increase flex align-center justify-center" disabled="false"><i class="plus"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="javascript:void(0);" class="subtle mb8 ml12" onclick="cart.handleRemoveItem(this)">Remove item</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 cart-summary-container mb24 pt24">
                        <div class="cart-summary">
                            <div class="total-line cart__table flex justify-space-between mb6">
                                <div class="h6 mb0 total-line__name">Subtotal</div>
                                <div class="h6 mb0 total-line__price cart__subtotal-price">
                                    $@Model.TotalPrice
                                </div>
                            </div>
                            <p class="subtle total-line__text mb16">
                                Shipping fee is calculated at checkout
                            </p>
                            <button type="button" name="checkout" class="flex btn btn-primary cart-summary__checkout cart__checkout mb16 w-100 has-text-weight-bold shape-sharp-t-l-b-r" onclick="gotopage('@Model.CheckOutUrl')">
                                <div class="svg-container mr12">
                                    <svg viewBox="0 0 20 24"
                                         version="1.1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         class="svg-class">
                                        <g stroke="none" stroke-width="1" fill="none"
                                           fill-rule="evenodd">
                                            <g transform="translate(-1058.000000, -283.000000)"
                                               fill="#FFFFFF">
                                                <g transform="translate(928.000000, 192.000000)">
                                                    <g transform="translate(0.000000, 79.000000)">
                                                        <g transform="translate(128.000000, 12.000000)">
                                                            <rect fill-opacity="0" x="0" y="0"
                                                                  width="24" height="24"></rect>
                                                            <path d="M21.4291204,3.88621574 L12.3550463,0.0716660692 C12.1277315,-0.0238652508 11.8722222,-0.0239121258 11.6449537,0.0716660692 L2.57087963,3.88621574 C2.22527778,4.03152834 2,4.37315359 2,4.7520445 L2,9.38915727 C2,15.7741463 5.81152778,21.5176037 11.6500926,23.930496 C11.8743519,24.023168 12.1256019,24.023168 12.3499074,23.930496 C18.1883796,21.5176505 22,15.7741932 22,9.38915727 L22,4.7520445 C22,4.37315359 21.7747685,4.03152834 21.4291204,3.88621574 Z M20.1481481,9.38915727 C20.1481481,14.8170519 17,19.8137899 12,22.0441978 C7.13361111,19.8733681 3.85185185,14.9641457 3.85185185,9.38915727 L3.85185185,5.37791996 L12,1.9525737 L20.1481481,5.37791996 L20.1481481,9.38915727 Z M10.9765741,12.5491908 L14.9563889,8.51967226 C15.317963,8.15357824 15.904213,8.15353136 16.2658333,8.51967226 C16.6274537,8.88581315 16.6274074,9.47939171 16.265787,9.84548573 L11.6312963,14.537911 C11.2696296,14.9040988 10.6833796,14.9039582 10.3218519,14.537911 L7.73416667,11.9178779 C7.3725463,11.551737 7.3725463,10.9581584 7.73416667,10.5920644 C8.09578704,10.2259704 8.68203704,10.2259235 9.04361111,10.5920644 L10.9765741,12.5491908 Z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div> Checkout
                            </button>
                            <div class="banner-trust">
                                <img src="https://img.thesitebase.net/themes/3/assets/0x540@trust_badge.png" alt="Trust badge" class="image sb-lazy" data-loaded="true">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    @Html.Action("RenderEmptyCart", "Cart")
}